/*=================================================
*Structrure*/

html,
body {
    height: 100%
}

body {
  background-color: #F1F1F1;
}

/*header*/

header {
    background-color: #FAFAFA;
}

header div {
    width: 100%
}

div.banner {
  height: 24px;
  background-color: #666;
}

nav {
  clear:both;
  margin-top: 24px;
}

nav div {
  position: relative;
  float: left;
  display: inline;
  padding: 20px 30px;
  border-bottom: 5px solid #666;
}

/*Main*/

main div {
    padding-top: 24px;
}

main p {
  padding: 10px;
  height: 100%;
}

div.project-content-dev {
  background-color: #FFF;
}

/*Footer*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #666;
  text-align: center;
}

div.footer-thought,
div.footer-design {
  padding: 10px 0;
}

div.footer-dev {
  padding: 10px 0;
  background-color: #FFF;
  color: #666;
}


/**=================================================
Text and Icon Styling*/

h1 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 24px;
  text-decoration: none;
  margin: 0 auto;
  color: #333;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  padding: 10px 0 0 10px;
}

main {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  height: 100%;
}

footer {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  vertical-align: text-bottom;
}

div.banner i {
  float:right;
  padding: 2px 15px 2px 0;
  color: #FFF;
  font-size: 18px;
}


/*=================================================
Image Styling*/

div.project-content-thought img {
 float: left;
 margin: 0 10px 10px 0;
 width: 100px;
 height:70px;
}

div.project-content-dev img {
 display: block;
 margin: 10px auto;
 width: 100px;
 height:70px;
}

div.project-content-design img {
 float: right;
 margin: 0 0 10px 10px;
 width: 100px;
 height:70px;
}

footer img {
  margin: 0;
  padding: 0;
  height:19px;
  width:19px;
  vertical-align: text-top;
}


/**=================================================
Links*/

a {
  text-decoration: none;
}

footer a {
  color: #FFF;
}

a.dev {
  color: #666;
}

div.footer-thought a,
div.footer-design a {
  color: #FFF;
  text-decoration: none;
}


/*hoverstates*/

a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: inherit;
}

div.footer-thought:hover,
div.footer-thought:focus,
div.footer-design:hover,
div.footer-design:focus {
  border: 3px solid #00007F;
  border-radius: 4px;
  padding: 7px 0;
    color: #FFF;
}

div.footer-dev:hover,
div.footer-dev:focus {
  border: 3px solid #00007F;
  border-radius: 4px;
  padding: 7px 0;
  color: #333;
}

nav div:hover {
  cursor: pointer;
  background-color: #FFF;
}

h1:hover {
    color: #00007F;
}

main img:hover,
main img:focus {
  border: 2px solid #00007F;
  border-radius: 4px;
}

/*=================================================
Kludges*/




/*.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}*/
